$font-color: #fff;
$font: 'Source Code Pro', monospace;

$orange: orange;
$directory-color: blue;

$bg-dark: #0F2027;
$bg-mid: #203A43;
$bg-light: #2C5364;

$close-color: #ff6260;
$minimize-color: #fdfd96;
$fullscreen-color: #77dd77;